@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceland&family=Monoton&family=Montserrat&family=Neonderthaw&family=Pacifico&family=Press+Start+2P&family=Roboto&display=swap');


canvas {
  position: absolute;
  top: 0;
  left: 0;
}
