@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Vibur&family=Exo+2&family=Iceland&family=Monoton&family=Montserrat&family=Neonderthaw&family=Pacifico&family=Press+Start+2P&family=Roboto&display=swap');


html,
body {
  position: relative;
  margin: 0;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Vibur", cursive;
  font-size: 1rem;
  background-image: url("wall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
}

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign__word {
  font-size: 5.6rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
  animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
